.postslist
	grid-column: 1/4

.card
	display: grid
	grid-template-columns: 10em 1fr 10em
	grid-gap: 2em
	height: auto
	width: 100%
	grid-column: 1/4
	p, h1, h2, h3, h4
		margin-top: 0 /* remove top margin on all main p tags */
		margin-bottom: 1em
	img
		max-width: 200px
  
main > .card > * 
	margin-top: 0
	margin-bottom: .5em

.cell
	padding: 1em 0
	background-clip: content-box
	ul
		list-style: none

#left, #right
	font-family: monospace
	
#left
	grid-column: 1
	text-align: right

#center
	grid-column: 2
	display: grid
	grid-gap: 2em
	grid-template-columns: auto 1fr
	border-bottom: $border-thickness dotted black
	&:hover
		background: #ececec
		color: black

#right
	grid-column: 3