html	
	// baseline
	margin: 2*$g-box 0
	padding: 0

html, body 
	padding: 0
	margin: 0
	background: $bg-col
		

body
	margin: 0 $g-box
	display: grid
	grid-template-columns: 1fr $col-w 1fr
	grid-template-rows: auto 1fr auto
	grid-column-gap: 2*$g-box

// p,
// pre,
// code 
// 	line-height: 1.5

ul
	// list-style-type: none

ul, ol, li
	margin: 0
	padding: 0