html
	display: grid
	justify-items: center

html,
body 
	padding: 0
	margin: 0
	font-family: monospace
	background: #f7f7f7

body
	display: grid
	grid-template-columns: 10em minmax(600px, 1000px) 10em
	grid-template-rows: auto 1fr auto
	grid-column-gap: 1em
	height: 100vh
	padding: 1em

p,
pre,
code 
	line-height: 1.5

pre 
	font-size: 14px
	direction: ltr
	text-align: left
	white-space: pre
	word-spacing: normal
	word-break: normal
	-moz-tab-size: 2
	tab-size: 2
	-webkit-hyphens: none
	-moz-hyphens: none
	-ms-hyphens: none
	hyphens: none
	padding: 1em
	margin: .5em 0

ul 
	padding: 0
	list-style: none

ul :first-child 
	margin-left: 0

li a[href]:not(:hover) 
	text-decoration: none

