<nav>
  {% set navPages = collections.all | eleventyNavigation %}
  <ul>
  {%- for entry in navPages %}
    <li>
      <h4>
      <a href="{{ entry.url | url }}"{% if entry.url == page.url %} data-current="current item"{% endif %}><h4>{{ entry.title }}</h4></a>
      </h4>
    </li>
  {%- endfor %}
  </ul>
</nav>
