---
layout: layouts/base.njk
section: research
permalink: /research/index.html
---

{{ layoutContent | safe }}

{% set postslist = collections.research %}
<div class="postslist">
    {% include "components/postslist.njk" %}
</div>
